*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}

/* -------------------header code start------------ */
header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    background-color: #fff;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.strip{
    background-color: black;
    width: 100%;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.nav1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    gap: 20px;
}

@media(max-width:1051px){
    .nav1 .search{
        display: none;
    }
}

@media(max-width:1051px){
    .cart{
        display: none;
    }
}

@media(max-width:1051px){
    .profile{
        display: none;
    }
}
.logo{
    margin-right: 45%;
}
@media(max-width:1051px){
    .nav1 .logo img{
        width: 120px;
      
    }
    .logo {
        justify-content: center;
        margin-right: 0%;
    }

}
.search{
    display: flex;
    border: 1px solid black;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding: 1px 12px;
    border-radius: 26px;
    background-color: #f8f9fa;
}
input{
    border: none;
    outline: none;
    font-size: 14px;
    background-color: #f8f9fa;
}
.nav2{
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 10rem;
    font-size: 14px;
    gap: 25px;
    text-transform: uppercase;
    position: relative;
}

@media(max-width:1286px){
    .nav2{
        margin-left: 5rem;
        font-size: 0.8rem;
    }
}
@media(max-width:1051px){
    .nav2{
        display: none;
    }
}
.gifting{
    line-height: 4.2rem;
    border-bottom: 2px solid transparent;
}
.gifting:hover .hover_nav{
    display: flex;
}
.gifting:hover{
    border-bottom: 2px solid #28a745;
}
.gifting a{
    text-decoration: none;
    color: black;

}
.hover_nav{
    display: flex;
    position: absolute;
    background-color: white;
    width: 75rem;
    border: 1px solid lightgrey;
    
    height: 19rem;
    margin-top: 2px;
    padding-top: 1.5rem;
    line-height: 32px;
    font-weight: 500;
    display: none;
}

.hover_nav ul li a{
    text-decoration: none;
    color: black;
    margin-left: 35px;
    font-size: 13px;
    font-weight: bold;
}
.hrline{
    background-color: lightgrey;
    height: 1px;
}

/* -------------------header code end------------ */

/* ---------------------section code start------------- */
main{
    margin-top: 14rem;
}
.gift-section{
    display: flex;
    margin-left: 10rem;
    margin-top: 3.5rem;
    text-transform: capitalize;
}
.gift-section{
    font-size: 15px;
    font-family: "Josefin Sans", Helvetica, sans-serif;
}
.sort{
    margin-left: 58rem;
    padding-top: 4px;
    font-size: 14px;
    display: flex;
    justify-content:end ;
}
select{
    margin-left: 1rem;
    width: 10rem;
    height: 2rem;
    padding: 6px 28px 6px 12px;
    border-radius: 2px;
    color: #495057;
}

/* -------------------section code end---------------- */


/*--------------------------Aside code start------------------ */

.aside{
    margin-left: 10rem;
    display: flex;
    margin-top: 3rem;
}
.aside1{
    width: 14rem;
}
.category{
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: "Josefin Sans", Helvetica, sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
}
.gifts{
    width: 12rem;
}
.left-arrow{
    display: flex;
}
.allgifts{
    margin-left: .5rem;
    font-size: 13px;
    font-weight: 600;
}
.left-arrow:hover{
    color: #28a745;
    cursor: pointer;
}
.allgifts1{
    margin-left: 1.3rem;
    line-height: 1.5rem;
    font-size: 13px;
    
}
.allgifts1:hover{
    cursor: pointer;
    color: #28a745;
    text-decoration-line: underline;
}
.hr{
    height: 2px;
    width: 12rem;
    border: 1px solid lightgrey;
    margin-top: 2.5rem;
}
.img-section{
    display: flex;
    margin-left: 1rem;
    width: 73%;
    gap: 0.5rem;
}
.img1-section p{
    font-size: 13px;
    line-height: 1.4rem;
    margin-left: .4rem;
    margin-top: .3rem;
    letter-spacing: .1rem;
    color: #919191;
    text-transform: uppercase;
}
.img1-section .cut-price{
    text-decoration-line: line-through;
    color: #919191;
    margin-left: 6rem;
}
.img-section .real-price{
    color: #ff0000;
}
.price{
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: "Josefin Sans", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.max{
    margin-left: 3.7rem;
}
.max-section{
    display: flex;
    gap: 0.5rem;
    width: 100%;
    margin-top: 1rem;
}
.max-section input{
    width: 5rem;
    height: 2rem;
    border: 1px solid #e2e2e2;
    padding: 6px 12px;
    background-color: #ffffff;
}
.max-section img{
    background-color: #f0f0f0;
    width: 14%;
    padding: 7px;
    border-radius: 3px;
}
.imgline-section{
    display: flex;
    margin-left: 25rem;
    width: 66%;
    margin-top: 2rem;
    gap: 0.5rem;
}
.img2-section p{
    font-size: 13px;
    line-height: 1.4rem;
    margin-left: .4rem;
    margin-top: .3rem;
    letter-spacing: .1rem;
    color: #919191;
    text-transform: uppercase;
}
.img2-section .cut-price{
    text-decoration-line: line-through;
    color: #919191;
    margin-left: 6rem;
}
.imgline-section .real-price{
    color: #ff0000;
}
.img3-section{
    width: 22%;
    margin-left: 25rem;
    margin-top: 2rem;
}
.img3-section p{
    font-size: 13px;
    line-height: 1.4rem;
    margin-left: .4rem;
    margin-top: .3rem;
    letter-spacing: .1rem;
    color: #919191;
    text-transform: uppercase;
}
.img3-section .cut-price{
    text-decoration-line: line-through;
    color: #919191;
    margin-left: 6rem;
}
.img3-section .real-price{
    color: #ff0000;
}

/* -----------------------FOOTER SECTION ----------------------- */
.footer-elements{
    font-family: "Nunito", Helvetica, sans-serif;
    margin-top: 6rem;
    background-color: #f8f9fa;;
    width: 100%;
    height: 20rem;
    display: flex;
    padding-top: 4rem;
}
.footer-elements ul li{
    margin-bottom: 1.2rem;
    color: #000000;
}
.footer-element1{
    margin-right: 10rem;
    margin-left: 10rem;
}

.footer-element2{
    margin-right: 10rem;
}
.footer-element3{  
    margin-right: 5rem;
}
.buttons{
    display: flex;
    gap: 2rem;
}
.buttons input{
    background-color: #fff;
    width: 13rem;
    height: 2rem;
    border: 1px solid #888888;
    padding: 1rem;
    font-size: 1rem;
}
.buttons button{
    width: 6rem;
    background-color: #126b45;
    color: #ffffff;
    font-size: 1rem;
    border: none;
    border-radius: 0px 3px 3px 0px;
}
.buttons button:hover{
    color: #126b45;
    background-color: #fff;
    border: 1px solid #126b45;
    cursor: pointer;
}